* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;    
}
body {
    background-color: silver;
    display: grid;
    height: 100vh;
}
.header {
    margin: 0;
    padding: 0;
    height: 70px;
    background-color: black;
    color: white;
}
.header h1 {
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 800;
}
body .wrapper {
    height: fit-content;
    margin: 0 auto;
    padding: 10px;
    place-items: center;
    border: 1px solid black;
    border-radius: 15px;
}