* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;    
}
body {
    background-color: silver;
    display: grid;
    height: 100vh;
}
.header {
    margin: 0;
    padding: 0;
    height: 70px;
    background-color: black;
    color: white;
}
.header h1 {
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 800;
}
body .wrapper {
    height: fit-content;
    margin: 0 auto;
    padding: 10px;
    place-items: center;
    border: 1px solid black;
    border-radius: 15px;
}
.wrapper .headtitle h1 {
    text-align: center;
    padding: 10px;
    font-weight: 800;
}
.wrapper .headtitle p {
    padding: 10px;
    justify-items: right;
    font-weight: 600;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}
table tr td {
    text-align: center;
}
table tr td input{
    padding: 3px;
    border-radius: 5px;
    width: 200px;
    height: 23px;
    border: none;
    background: rgba(24, 16, 16, 0.086);
}
table tr td a{
    text-decoration: none;
    color: black;
}
button {
    margin: 15px 30% 0;

    font-weight: 700;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: #ffffff;
}